img {
    width: 200px;
    height: 200px;
  }
  .img-round1 {
    border-radius: 50%;
  }
  .img-round2 {
    border-radius: 10%;
  }
  .div-inline {
    display: inline-block;
    margin: 10px;
  }
